.App{
  /* padding-left: 20px; */
}
.left-content,.left-content>*{
  display: flex;
  flex-direction: row;
}
@media (max-width: 980px) {

  .wow > *{
    display: flex!important;
    flex-direction: column;
  }
}